body{
	background-color:#303030;
}

h1,h3 {
    color: #FFD800;
	text-align: center;
	font-family: Harrington;
}
#gameInstructions,#upcomingFeatures,#sources{ 
	width: 500px;
}
#menu{
	width: 510px;
}
#theGame{
	border: thick solid black;
	border-radius: 25px;
	display: block;
}

#theGame, #gameInstructions,#upcomingFeatures,#menu,#sources{
	 
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
}
#gameInstructions,#upcomingFeatures,#sources{
	color: white;
	font-family: Harrington;
	text-align: justify;
	font-size: 1.3em;
}
#menu{
	color:white;
	font-family: Harrington;
	font-size: 1.6em;
	margin-top: 15px;
	
}
#keyboard{
margin-top: 25px;
}
.infoImg{
	margin-top:35px;
}
#menu ul{
	list-style-type: none;
}
#menu li{
	text-align:center;
	display: inline;
	margin-left: 20px;
	}
#menu li a:visited,#menu li a:link {
	color: white;
	text-decoration:  none;
}
#menu li a:hover{
	color: #FFD800;
	text-decoration:  none;
}
##upcomingFeatures h1,#gameInstructions h1{
	margin-top: 25px;
}
#upcomingFeatures a,
#upcomingFeatures a:link,
#upcomingFeatures a:visited,
#upcomingFeatures a:focus,
#upcomingFeatures a:hover,
#gameInstructions a,
#gameInstructions a:link,
#gameInstructions a:visited,
#gameInstructions a:focus,
#gameInstructions a:hover,
#sources a,
#sources a:link,
#sources a:visited,
#sources a:focus,
#sources a:hover
{
	color: #FFD800;
	text-decoration:none;
}
.noShow{
	display:none;
}

.show{
	display: block;
}

.enfase{
	color: #FFD800;
	font-weight: bold;
}
.enfaseGreen{
	color: #44B368;
}
.enfaseBlue{
	color: #40CFE7;
}
.enfaseRed{
	color:#A70500;
}
.enfaseKeys{
	color: #FF6A00;
	font-weight: bold;
}
.infoImg img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.infoText{
	margin-top: 10px;
	margin-bottom: 10px;
}
