body{
	background-color:#303030;
}

h1,h3 {
    color: #FFD800;
	text-align: center;
	font-family: Harrington;
}
#gameInstructions{ 
	width: 500px;
}
#theGame{
	border: thin solid #FFD800,
}
#theGame, #gameInstructions{
	 
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#gameInstructions{
	color: white;
	font-family: harrington;
	text-align: justify;
	font-size: 1.3em;
}
.enfase{
	color: #FFD800;
	font-weight: bold;
}
.enfaseGreen{
	color: #44B368;
}
.enfaseBlue{
	color: #40CFE7;
}
.enfaseRed{
	color:#A70500;
}
.enfaseKeys{
	color: #FF6A00;
	font-weight: bold;
}
.infoImg img{
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.infoText{
	margin-top: 10px;
	margin-bottom: 10px;
}
